.sidebar .social-icons a {
    color: rgba(255,255,255,0.6);
    padding-right: 0.75em;
}

.post-footer {
    border-top: #EBF2F6 1px solid;
}

.read-more{
    text-decoration: none;
}

.post-excerpt p {
    display: inline;
}
.post {
    border-bottom: #EBF2F6 1px solid;
    margin: 2rem auto;
    padding-bottom: 2rem;
}

.talk {
  margin-top: 5px;
}
