<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">
  {% include sidebar.html %}
  <div id="content" class="site-content fadeInDown delay_075s">
    <div class="inner-wide">
      <main id="main" class="site-main">
        <!-- <div class="hero inner">
          <p class="hero-text">Hi there! My name is Hossam.</p>
        </div> -->
        {{content}}
      </main>
    </div>
  </div>

  {% include scripts.html %}

</body>

</html>
